<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.negusoft.holoaccent.example" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    
    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:icon="@drawable/ic_launcher"
        android:logo="@drawable/ic_logo_white"
        android:label="@string/app_name"
        android:theme="@style/Theme.HoloAccent" >

        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/Theme.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Tabbed Activity -->
        <activity
            android:name=".activity.TabbedActivity" />
        <activity
            android:name=".activity.themed.TabbedActivityColoredAB"
            android:theme="@style/Theme.HoloAccent.ColoredActionBar"/>
        <activity
            android:name=".activity.themed.TabbedActivityColoredABInverse"
            android:logo="@drawable/ic_logo_black"
            android:theme="@style/Theme.HoloAccent.ColoredActionBar.Inverse"/>
        <activity
            android:name=".activity.themed.TabbedActivityLight"
            android:logo="@drawable/ic_logo_black"
            android:theme="@style/Theme.HoloAccent.Light"/>
        <activity
            android:name=".activity.themed.TabbedActivityLightDarkAB"
            android:theme="@style/Theme.HoloAccent.Light.DarkActionBar"/>
        <activity
            android:name=".activity.themed.TabbedActivityLightColoredAB"
            android:logo="@drawable/ic_logo_black"
            android:theme="@style/Theme.HoloAccent.Light.ColoredActionBar"/>
        <activity
            android:name=".activity.themed.TabbedActivityLightColoredABInverse"
            android:theme="@style/Theme.HoloAccent.Light.ColoredActionBar.Inverse"/>

        <!-- Tab-Strip Activity -->
        <activity
            android:name=".activity.TabbedStripActivity" />
        <activity
            android:name=".activity.themed.TabbedStripActivityColoredAB"
            android:theme="@style/Theme.HoloAccent.ColoredActionBar"/>
        <activity
            android:name=".activity.themed.TabbedStripActivityColoredABInverse"
            android:logo="@drawable/ic_logo_black"
            android:theme="@style/Theme.HoloAccent.ColoredActionBar.Inverse"/>
        <activity
            android:name=".activity.themed.TabbedStripActivityLight"
            android:logo="@drawable/ic_logo_black"
            android:theme="@style/Theme.HoloAccent.Light"/>
        <activity
            android:name=".activity.themed.TabbedStripActivityLightDarkAB"
            android:theme="@style/Theme.HoloAccent.Light.DarkActionBar"/>
        <activity
            android:name=".activity.themed.TabbedStripActivityLightColoredAB"
            android:logo="@drawable/ic_logo_black"
            android:theme="@style/Theme.HoloAccent.Light.ColoredActionBar"/>
        <activity
            android:name=".activity.themed.TabbedStripActivityLightColoredABInverse"
            android:theme="@style/Theme.HoloAccent.Light.ColoredActionBar.Inverse"/>

        <!-- Spinner Activity -->
        <activity
            android:name=".activity.SpinnerActivity"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name=".activity.themed.SpinnerActivityColoredAB"
            android:uiOptions="splitActionBarWhenNarrow"
            android:theme="@style/Theme.HoloAccent.ColoredActionBar"/>
        <activity
            android:name=".activity.themed.SpinnerActivityColoredABInverse"
            android:logo="@drawable/ic_logo_black"
            android:uiOptions="splitActionBarWhenNarrow"
            android:theme="@style/Theme.HoloAccent.ColoredActionBar.Inverse"/>
        <activity
            android:name=".activity.themed.SpinnerActivityLight"
            android:logo="@drawable/ic_logo_black"
            android:uiOptions="splitActionBarWhenNarrow"
            android:theme="@style/Theme.HoloAccent.Light"/>
        <activity
            android:name=".activity.themed.SpinnerActivityLightDarkAB"
            android:uiOptions="splitActionBarWhenNarrow"
            android:theme="@style/Theme.HoloAccent.Light.DarkActionBar"/>
        <activity
            android:name=".activity.themed.SpinnerActivityLightColoredAB"
            android:logo="@drawable/ic_logo_black"
            android:uiOptions="splitActionBarWhenNarrow"
            android:theme="@style/Theme.HoloAccent.Light.ColoredActionBar"/>
        <activity
            android:name=".activity.themed.SpinnerActivityLightColoredABInverse"
            android:uiOptions="splitActionBarWhenNarrow"
            android:theme="@style/Theme.HoloAccent.Light.ColoredActionBar.Inverse"/>

        <!-- Preferences Activity -->
        <activity
            android:name=".activity.PreferencesActivity"
            android:label="@string/pref_title"
            android:parentActivityName=".activity.TabbedActivity" />
        <activity
            android:name=".activity.themed.PreferencesActivityColoredAB"
            android:theme="@style/Theme.HoloAccent.ColoredActionBar"/>
        <activity
            android:name=".activity.themed.PreferencesActivityColoredABInverse"
            android:logo="@drawable/ic_logo_black"
            android:theme="@style/Theme.HoloAccent.ColoredActionBar.Inverse"/>
        <activity
            android:name=".activity.themed.PreferencesActivityLight"
            android:logo="@drawable/ic_logo_black"
            android:theme="@style/Theme.HoloAccent.Light"/>
        <activity
            android:name=".activity.themed.PreferencesActivityLightDarkAB"
            android:theme="@style/Theme.HoloAccent.Light.DarkActionBar"/>
        <activity
            android:name=".activity.themed.PreferencesActivityLightColoredAB"
            android:logo="@drawable/ic_logo_black"
            android:theme="@style/Theme.HoloAccent.Light.ColoredActionBar"/>
        <activity
            android:name=".activity.themed.PreferencesActivityLightColoredABInverse"
            android:theme="@style/Theme.HoloAccent.Light.ColoredActionBar.Inverse"/>

        <!-- Dialog Activity -->
        <activity
            android:name=".activity.DialogActivity"
            android:theme="@style/Theme.HoloAccent.Dialog" />
        <activity
            android:name=".activity.themed.DialogActivityLight"
            android:theme="@style/Theme.HoloAccent.Light.Dialog" />

    </application>

</manifest>
