<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.negusoft.holoaccent.example"
    android:versionCode="1"
    android:versionName="0.5" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.HoloAccent.Light" >
        <activity
            android:name="com.negusoft.holoaccent.example.TabbedActivity"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.negusoft.holoaccent.example.TabbetHoloActivity"
            android:theme="@android:style/Theme.Holo.Light" />
        <activity
            android:name="com.negusoft.holoaccent.example.SpinnerActivity"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity android:name="com.negusoft.holoaccent.example.CodeOverrideActivity" />
        <activity
            android:name="com.negusoft.holoaccent.example.ThemeOverrideActivity"
            android:theme="@style/Theme.HoloAccent.Override" />
        <activity
            android:name="com.negusoft.holoaccent.example.DialogActivity"
            android:theme="@style/Theme.HoloAccent.Light.Dialog" />
        <activity
            android:name="com.negusoft.holoaccent.example.PreferencesActivity"
            android:label="@string/pref_title"
            android:parentActivityName="com.negusoft.holoaccent.example.TabbedActivity" />
    </application>

</manifest>
